<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="MatchResult_Entities" connectionString="metadata=res://*/DalModel.csdl|res://*/DalModel.ssdl|res://*/DalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UMLORE-PC\MATCHRESULTS;initial catalog=Matches;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>